*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    min-width: 0;
    text-box: trim-both cap alphabetic;
}

:root {
    color-scheme: light dark;
    interpolate-size: allow-keywords;
}

html {
    text-size-adjust: 100%;
    background-color: #282828;
}

h1,
h2,
h3,
h4 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

input,
textarea,
select {
    field-sizing: content;
    outline: none !important;
}

#textbox {
    width: 70dvw;
    height: 100dvh;
    border: none !important;
    tab-size: 4;
    letter-spacing: 0.015cm;
    flex-grow: 1;
    outline: none !important;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 2%;
    min-height: 100dvh;
    background: transparent;

    color: #ebdbb2;
    font-size: 14pt;
    font-family: Verdana;
    line-height: 1.6em;
    outline: none;
    resize: none;
    box-sizing: border-box;
}
